.section-game {
	display: flex;
	justify-content: center;
}

.section-game header {
	display: flex;
  align-items: center;
  height: 200px;
}

.section-game .headings h1 {
	font-size: 4.5em; /* 72 ÷ 16 */
	font-weight: 600; /* Semi-bold */
	text-transform: uppercase;
	margin: 0 0 0 5rem;
}

.section-game .headings h2 {
	font-size: 3em; /* 48 ÷ 16 */
	font-weight: 300; /* Light */
	text-transform: uppercase;
	margin: 0 0 0 6.25rem;
}

.section-game header img {
	position: absolute;
	width: 150px;
}

.game-container {
	display: flex;
	flex-direction: row;
}

.row {
	height: 25px;
}

.column {
	border: 0px solid white;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.game-info {
	padding: 0 1.25rem 0 1.25rem;
}

.game-info .info-item {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 1.25rem 0 1.25rem 0;
}

.info-label {
	font-size: 1.5em; /* 24 ÷ 16 */
	font-weight: 600; /* Semi-bold */
}

.info-value {
	width: 50%;
	font-size: 1.5em; /* 24 ÷ 16 */
	font-weight: 300; /* Light */
}

.section-game h4 {
	font-size: 3em; /* 48 ÷ 16 */
	font-weight: 600; /* Semi-bold */
	margin: 0;
	border-bottom: 1px solid #979797;
	text-transform: uppercase;
}

#start-btn {
	padding: 0.625rem 2.5rem 0.625rem 2.5rem;
	border: none;
	background: #0E0E0E;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
}
