/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  height: 100vh;
}

#nav-main {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -2000px;
  background: #FFF;
  transition: all 1s;
}

#nav-main.open {
  display: flex;
  left: 0;
  transition: all 1s;
  justify-content: center;
}

#nav-main .container {
  align-items: center;
}

#nav-main .headings {
  text-align: center;
}

#nav-main h1 {
  font-size: 4.5em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2.5rem 0 0 0;
}

#nav-main h2 {
  font-size: 4.0em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px double #0E0E0E;
}

#nav-main li {
  text-align: center;
  list-style: none;
  margin: 1.25rem 0 1.25rem 0;
}

#nav-main li a {
  font-size: 3em;
  text-decoration: none;
  color: #0E0E0E;
}

#nav-btn {
  position: absolute;
  z-index: 4;
  right: 2.5rem;
  top: 2.5rem;
  width: 60px;
  height: 45px;
  transform: rotate(0deg);
  cursor: pointer;
  border: none;
  background: none;
}

#nav-btn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #0E0E0E;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-btn span:nth-child(1) {
  top: 0px;
}

#nav-btn span:nth-child(2) {
  top: 18px;
}

#nav-btn span:nth-child(3) {
  top: 36px;
}

#nav-btn.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-btn.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-btn.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
