<section class="section-home">
  <img src="assets/images/countries.png" alt="countries">
  <div class="heading">
    <h1>Snakes</h1>
    <h2>World Tour</h2>
  </div>
  <div class="links">
    <div class="link-item">
      <i class="fa fa-4x fa-play-circle" aria-hidden="true"></i>
      <a routerLink="/game/australia">Play Game</a>
    </div>
    <div class="link-item">
      <i class="fa fa-4x fa-github" aria-hidden="true"></i>
      <a href="https://github.com/DevHominid/angular-snakes" target="_blank">See Code</a>
    </div>
  </div>
</section>
